<div class="jumbotron">
  <h1>Welcome</h1>
  <p>Welcome to the admin portal for the Bethel Skype Healing Rooms. More info to come soon!</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>