<h3>Sessions</h3>
<br>
<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <th>Session ID</th>
    <th>Name</th>
    <th>When?</th>
  </tr>
  </thead>
  <tbody>
  <% @sessions.each do |s| %>
      <tr>
        <td><%=	 link_to '#{s.id}', session_path(s.id) %></td>
        <td><%= s.name %></td>
        <td><%=	 s.when %></td>
      </tr>
  <% end %>
  </tbody>
</table>